@import '../../styles/constants';

.DimensionLineComponent {
    position: absolute;

    &--hovered-solid {
        z-index: $z-index-hover-solid-line;

        border-color: $primary-color-blue;
        border-style: solid;

        border-width: 0;
    }

    &--hovered-dashed {
        z-index: $z-index-hover-dashed-line;

        border-color: $primary-color-blue;
        border-style: dashed;

        border-width: 0;
    }

    &--selected-solid {
        z-index: $z-index-selected-solid-line;

        border-color: $primary-color-orange;
        border-style: solid;

        border-width: 0;
    }

    &--inter-element-dimension {
        z-index: $z-index-inter-dimension-line;

        border-color: $primary-color-orange;
        border-style: solid;

        border-width: 0;
    }
}
