{
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        "transform-es2017-object-entries"
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ]
}
