#div-1 {
    width: 150px;
    height: 275px;
    margin-top: 125px;
    background-color: red;
}

#div-2 {
    width: 150px;
    height: 175px;
    margin-top: 125px;
    margin-left: 600px;
    background-color: yellow;
}

#div-3 {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 100px;
    height: 95px;
    background-color: blue;
}

#div-4 {
    position: absolute;
    top: 200px;
    left: 500px;
    width: 130px;
    height: 300px;
    background-color: #555555;
}

#div-5 {
    position: absolute;
    top: 190px;
    left: 300px;
    width: 75px;
    height: 400px;
    background-color: green;
    border: dashed 5px #555555;
}

#item-6 {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    width: 50%;
    color: #555555;
}

.redline-layer {
    font-family: 'Lato', sans-serif;
}

#redline-panel {
    position: fixed;
    z-index: 99999;
    top: 0;
    /*left: 100%;*/
    right: 0;
    width: 250px;
    height: 100%;
    padding: 20px;
    color: #FFFFFF;
    background-color: rgba(51, 51, 51, 0.9);
}

.redline-panel-exposed {
    right: 0 !important;
    left: auto !important;
}

.hover-layer,
.hover-o-layer,
.select-layer,
.dimension-layer,
.measure-layer {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
}

.hover-layer {
    z-index: 9997;
    border: solid 1px #4860FF;
    border-right: none;
    border-bottom: none;
}

.hover-o-layer {
    z-index: 9996;
    border: dashed 1px #4860FF;
    border-right: none;
    border-bottom: none;
}

.select-layer {
    z-index: 9998;
    border: solid 1px #E89A28;
    border-right: none;
    border-bottom: none;
}

.dimension-layer {
    font-size: 10px;
    font-weight: bold;
    z-index: 9999;
    display: flex;
    min-width: 30px;
    min-height: 20px;
    padding: 0;
    letter-spacing: 1px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #E89A28;
    justify-content: center;
    align-items: center;
}

.measure-layer {
    z-index: 9995;
    border: solid 1px #E89A28;
    border-right: none;
    border-bottom: none;
}
