@import '../../styles/constants';

.SplashScreenModule {
    color: $secondary-color-gray;

    &__header {
        display: flex;
        align-items: center;

        width: 100%;
        margin-bottom: 10px;

        .IconComponent {
            width: 28px;
            height: 28px;
            margin-right: 10px;

            color: $primary-color-teal;
        }
    }

    &__scrolling-body {
        overflow-y: auto;

        max-height: 50vh;
        margin-top: 20px;
    }

    &--disclosure {
        font-size: 14px;
        font-style: italic;
    }

    &--highlight {
        font-weight: bold;

        color: $primary-color-teal;
    }

    h1 {
        margin: 0;
    }

    h2 {
        margin: 0;
    }

    ul {
        margin: 10px 0 0;
        padding: 0 40px;
    }

    li {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .IconComponent {
            width: 28px;
            height: 28px;
            margin-top: 10px;
        }
    }

    .ButtonComponent {
        float: right;

        margin-top: 30px;
    }
}
