@import '../../styles/constants';

.HeaderModule {

    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-header;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    height: $header-height;
    padding: 0 30px;

    font-family: $font-stack;

    background-color: $primary-color-background;

    opacity: $ui-opacity;

    &__logo {

        color: $primary-color-white;
        font-size: 18px;
    }
}
