@import '../../styles/constants';

// Module Variables
$icon-thickness: 2px;
$icon-diameter: 22px;

.ZoomControlModule {
    position: fixed;
    bottom: 20px;
    left: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 110px;
    padding: 10px;

    opacity: $ui-opacity;
    border-radius: #{$icon-diameter / 2};
    background-color: rgba($primary-color-gray, 0.2);

    &__zoom-input {
        font-family: $font-stack;

        width: 50px;
        height: $icon-diameter;

        text-align: center;

        border: none;
        border-radius: #{$icon-diameter / 2};
        outline: none;
    }

    &__zoom-control {
        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        width: $icon-diameter;
        height: $icon-diameter;
        padding: 6px;

        cursor: pointer;

        border-radius: 50%;
        background-color: $primary-color-teal;

        span {
            position: relative;

            display: inline-block;

            width: 100%;
            height: $icon-thickness;

            background-color: $primary-color-white;
        }

        &--positive {
            span {
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;

                    display: inline-block;

                    width: 100%;
                    height: $icon-thickness;

                    content: '';
                    transform: rotate(90deg);

                    background-color: inherit;
                }
            }
        }
    }
}
