$primary-color-teal: #4edec2;
$primary-color-orange: #e89a28;
$primary-color-background: rgba(17, 17, 17, 1);
$primary-color-blue: #4860ff;
$primary-color-gray: #555;
$secondary-color-gray: #333;
$primary-color-white: #fff;
$background-color: rgba(0, 0, 0, 0.2);
$font-stack: 'Lato',
sans-serif;
$switch-transition: all 0.15s ease-in-out;
$ui-opacity: 0.9;
