// Colors
$primary-color-background: rgba(17, 17, 17, 1);
$primary-color-blue: #4860ff;
$primary-color-gray: #555;
$primary-color-orange: #e89a28;
$primary-color-red: #ff5757;
$primary-color-teal: #4edec2;
$primary-color-white: #fff;
$secondary-color-gray: #333;

// Loading Spinner Background
$background-color: rgba(0, 0, 0, 0.2);

// Fonts
$font-stack: 'Lato',
sans-serif;

// GUI Opacity
$ui-opacity: 0.9;

// Header Height
$header-height: 60px;

// Z-Index Ranking
$z-index-loading-indicator: 999999;
$z-index-sidebar: 99999;
$z-index-header: 99998;
$z-index-zoom-control: 99997;
$z-index-dialog: 99996;
$z-index-dimension-marker: 99995;
$z-index-selected-solid-line: 99994;
$z-index-hover-dashed-line: 99993;
$z-index-hover-solid-line: 99992;
$z-index-inter-dimension-line: 99991;
