@import '../../styles/constants';

.PrimaryControlsModule {
    display: flex;
    align-items: center;

    height: 100%;

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;

        width: $header-height;
        height: 100%;

        color: $primary-color-white;

        border-radius: 5px;

        cursor: pointer;

        transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;

        &:hover {

            background-color: $primary-color-gray;

            transition: background-color 0.05s ease-in-out, color 0.1s ease-in-out;
        }

        &--enabled {
            color: $primary-color-teal;
        }
    }

    .IconComponent {
        width: 25px;
        height: 25px;
    }
}
