@import '../../styles/constants';

.DimensionMarkerComponent {

    position: absolute;
    z-index: $z-index-dimension-marker;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $primary-color-white;
    font-weight: bold;
    font-size: 10px;

    letter-spacing: 1px;

    background-color: $primary-color-orange;
    border-radius: 5px;

    opacity: $ui-opacity;
}
