@import '../../styles/constants';

.CheckboxComponent {
    &__label {

        display: flex;
        align-items: center;
        justify-content: flex-start;

        color: $primary-color-white;
        font-size: 12px;
        font-family: $font-stack;

        cursor: pointer;
    }

    &__input {
        margin: 0 0 0 10px;

        border-radius: 5px;

        cursor: pointer;
    }
}
