@import '../../styles/constants';

.CheckboxComponent {
    &__label {
        font-family: $font-stack;
        font-size: 12px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        cursor: pointer;

        color: $primary-color-white;
    }

    &__input {
        margin: 0 0 0 10px;

        cursor: pointer;

        border-radius: 5px;
    }
}
