//***********************************************************************
$primary-color-teal: #4edec2;
$primary-color-orange: #e89a28;
$primary-color-background: rgba(17, 17, 17, 1);
$primary-color-blue: #4860ff;
$primary-color-gray: #555;
$secondary-color-gray: #333;
$primary-color-white: #fff;
$background-color: rgba(0, 0, 0, 0.2);
$font-stack: 'Lato',
sans-serif;
$switch-transition: all 0.15s ease-in-out;
//***********************************************************************
.loading-wrapper {
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: $secondary-color-gray;

    /* Credit: http://tobiasahlin.com/spinkit/ */
    .spinner {
        position: relative;

        width: 40px;
        height: 40px;
        margin: 100px auto;

        .double-bounce1,
        .double-bounce2 {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;

            opacity: 0.6;
            border-radius: 50%;
            background-color: #fff;
        }
        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        @-webkit-keyframes sk-bounce {
            0%,
            100% {
                -webkit-transform: scale(0.0);
            }
            50% {
                -webkit-transform: scale(1.0);
            }
        }
        @keyframes sk-bounce {
            0%,
            100% {
                -webkit-transform: scale(0.0);
                transform: scale(0.0);
            } 50% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
    }
}
body {
    overflow: scroll;

    width: 100vw;
    height: 100vh;
    .ui-dialog {
        padding: 0 !important;

        border: solid 1px $primary-color-gray !important;
        border-radius: 3px !important;
        * {
            color: $primary-color-gray;
        }
    }
    .ui-dialog-titlebar {
        border: none !important;
        background-color: $primary-color-gray !important;
        button {
            border-radius: 3px !important;
            outline: none !important;
        }
    }
    .ui-button-icon-only {
        .ui-icon {
            top: 0 !important;
            left: 0 !important;
        }
    }
    .ui-corner-all {
        border-radius: 0;
    }
    .ui-dialog-content {
        padding: 10px !important;
    }
}

.zoom-wrapper {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $secondary-color-gray;
    background-image: -webkit-repeating-radial-gradient(center center, $background-color, $background-color 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, $background-color, $background-color 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, $background-color, $background-color 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $background-color, $background-color 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
    background-size: 10px 10px;
    #base {
        position: relative;

        transform-origin: center;
    }
}

.redline-tool-wrapper {
    input,
    textarea {
        color: $secondary-color-gray;
    }
    .redline-layer {
        font-family: $font-stack;
    }
    .redline-tool-enabler {
        font-size: 16px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $primary-color-white;
        .switch {
            margin-left: 10px;
            .toggle-switch {
                position: absolute;

                visibility: hidden;

                margin-left: -9999px;
                 + label {
                    position: relative;

                    display: block;

                    width: 60px;
                    height: 28px;
                    padding: 2px;

                    cursor: pointer;
                    user-select: none;
                    transition: $switch-transition;

                    border-radius: 28px;
                    outline: none;
                    background-color: #ddd;
                }
                 + label::before,
                 + label::after {
                    position: absolute;

                    display: block;

                    content: '';
                    transition: $switch-transition;
                }
                 + label:before {
                    top: 2px;
                    right: 2px;
                    bottom: 2px;
                    left: 2px;

                    border-radius: 28px;
                    background-color: $primary-color-white;
                }
                 + label::after {
                    top: 4px;
                    bottom: 4px;
                    left: 4px;

                    width: 24px;

                    border-radius: 50%;
                    background-color: #ddd;
                }
                &:checked + label {
                    background-color: $primary-color-teal;
                }
                &:checked + label::after {
                    margin-left: 32px;

                    background-color: $primary-color-teal;
                }
            }
        }
    }
    #top-control-panel,
    #redline-panel {
        opacity: 0.9;
    }
    #top-control-panel {
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 0 30px;

        background-color: $primary-color-background;
        .zoom-controls {
            display: flex;
            justify-content: space-between;

            width: 150px;
            div {
                font-size: 22px;
                font-weight: bold;

                display: flex;
                align-items: center;
                justify-content: center;

                box-sizing: border-box;
                width: 25px;
                height: 25px;

                cursor: pointer;
                user-select: none;

                color: $primary-color-white;
                border-radius: 50%;
                background-color: $primary-color-teal;
            }
            input {
                width: 60px;
                height: 25px;

                text-align: center;

/* opacity: 0.5; */

                border: none;
                border-radius: 12px;
                outline: none;
            }
        }
    }
    #redline-panel {
        position: fixed;
        z-index: 9999;
        top: 60px;
        left: calc(100% - 25px);

        display: flex;

        width: 290px;
        height: calc(100% - 60px);

        transition: all 0.1s ease-in-out;
        #menu-tab-column {
            width: 20px;
            height: 100%;
            & > div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;
                height: 40px;
                margin-top: 65px;

                cursor: pointer;

                border-radius: 20px 0 0 20px;
                background-color: $primary-color-background;
                & > div > div {
                    width: 12px;
                    height: 2px;
                    margin: 3px 0 3px 7px;

                    background-color: $primary-color-white;
                }
            }
        }
        #redline-panel-menu-column {
            font-size: 12px;

            overflow-y: auto;

            box-sizing: border-box;
            width: 270px;
            height: 100%;
            padding: 0;

            color: $primary-color-white;
            background-color: $primary-color-background;

            .redline-panel-section {
                margin-top: 20px;
            }
            .redline-panel-section:last-of-type p:last-of-type + * {
                margin-bottom: 20px;
            }
            p {
                position: relative;
                z-index: 1;

/*width: calc(100% - 12px);*/

                width: 100%;
                height: 15px;
                margin: 10px 0 0;

                .color-swatch {
                    position: absolute;
                    top: 15px;
                    right: 0;

                    box-sizing: border-box;
                    width: 25px;
                    height: 25px;

                    cursor: pointer;

                    border-left: solid 1px $primary-color-background;
                    border-radius: 0 3px 3px 0;
                }
            }
            input {
                height: 25px;
            }
            input,
            textarea {
                font-size: 12px;

                box-sizing: border-box;
                width: 100%;
                margin-top: 0;
                padding: 4px 5px;

                cursor: text;

                border: none;
                border-radius: 3px;
            }
            textarea {
                height: 50px;

                resize: none;
            }
        }
    }
    .redline-panel-exposed {
        transform: translateX(-265px);
    }
    .hover-layer,
    .hover-o-layer,
    .select-layer,
    .dimension-layer,
    .measure-layer {
        position: absolute;

        display: none;

        width: 0;
        height: 0;
    }
    .hover-layer {
        z-index: 9997;

        border: solid 1px $primary-color-blue;
        border-right: none;
        border-bottom: none;
    }
    .hover-o-layer {
        z-index: 9996;

        border: dashed 1px $primary-color-blue;
        border-right: none;
        border-bottom: none;
    }
    .select-layer {
        z-index: 9998;

        border: solid 1px $primary-color-orange;
        border-right: none;
        border-bottom: none;
    }
    .dimension-layer {
        font-size: 10px;
        font-weight: bold;

        z-index: 9999;

        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 30px;
        min-height: 20px;
        padding: 0;

        letter-spacing: 1px;

        color: $primary-color-white;
        border-radius: 5px;
        background-color: $primary-color-orange;
    }
    .measure-layer {
        z-index: 9995;

        border: solid 1px $primary-color-orange;
        border-right: none;
        border-bottom: none;
    }

    .pseudo-tabs {
        display: flex;
        align-items: center;
        flex-direction: row;

        box-sizing: border-box;
        width: 100%;
        height: 25px;
        padding: 0 20px;
        .tab {
            display: flex;
            align-items: center;
            flex-basis: 0;
            flex-grow: 1;
            justify-content: center;

            box-sizing: border-box;
            max-width: 50%;
            height: 100%;
            margin: 0 1px;

            cursor: pointer;

/* opacity: 0.7; */

            color: $primary-color-gray;
            border-radius: 3px 3px 0 0;
            background-color: $primary-color-white;

            /* &:first-of-type {
                margin-left: 20px;
            }
            &:last-of-type {
                margin-right: 20px;
            } */
        }
        .active-tab {
            color: $primary-color-white;
            border-width: 1px 1px 0;
            border-style: solid;
            border-color: $primary-color-white;
            background-color: $primary-color-background;
        }
        .default {
            order: 1;
        }
        .hover {
            order: 2;
        }
        .mousedown {
            order: 3;
        }
        .disabled {
            order: 4;
        }
    }
    .pseudo-wrapper {
        display: none;

        box-sizing: border-box;
        width: 100%;
        margin-top: -1px;
        padding: 0 20px;

        border-top: solid 1px #fff;
    }
    .active-attributes {
        display: block;
    }
}
.component-name-wrapper {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 31px;
    padding: 0 20px;
    & > * {
        width: 100%;
    }
}
.links-wrapper {
    label {
        position: relative;

        color: $primary-color-white;
    }
    input {
        font-size: 12px;

        box-sizing: border-box;
        width: 100px;
        height: 25px;
        margin-right: 15px;
        padding: 4px 5px;

        cursor: text;

        border: none;
        border-radius: 3px;
        outline: none;
        background-color: $primary-color-white;
        @media screen and (min-width: 1024px) {
            width: 150px;
        }
    }
    .opacity-adjust {
        opacity: 0.5;
    }
}
%copied-tooltip {
    font-size: 12px;

    position: absolute;
    z-index: 1;

    visibility: hidden;

    box-sizing: border-box;
    padding: 3px 5px;

    cursor: default;
    transition: all ease-in-out 0.5s;

    opacity: 0;
    border-radius: 3px;
    background-color: $primary-color-orange;


    &.tooltip-active {
        visibility: visible;

        transition: all 0s;

        opacity: 1;
    }
    &::after {
        position: absolute;

        content: '';

        border-width: 5px;
        border-style: solid;
    }
}
.css-copied-tooltip {
    top: -10px;
    left: 0;

@extend %copied-tooltip;

    &::after {
        top: 100%;
        left: 50%;

        margin-left: -5px;

        border-color: $primary-color-orange transparent transparent transparent;
    }
}
.link-copied-tooltip {
    top: -19px;
    right: 120px;

@extend %copied-tooltip;

    &::after {
        top: 100%;
        left: 50%;

        margin-left: -5px;

        border-color: $primary-color-orange transparent transparent transparent;
    }
}
