@import '../../styles/constants';

// Component Constants
$modal-overlay-background: rgba($primary-color-gray, 0.7);

.modal-open {
    overflow: hidden;
}

.ModalComponent {
    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    left: 0;

    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: $modal-overlay-background;
    }

    &__modal {
        position: relative;

        width: 100%;
        max-width: 500px;
        min-height: 200px;
        margin-top: 50px;
        padding: 20px;

        transition: margin-top 0.2s ease-in-out, opacity 0.2s ease-in-out;

        opacity: 0;
        border-radius: 5px;
        background-color: $primary-color-white;
        box-shadow: 0 3px 5px $secondary-color-gray;

        &--body {
            width: 100%;
            height: 100%;
        }
    }

    &__modal-close {
        position: absolute;
        top: 10px;
        right: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 20px;

        cursor: pointer;
        transition: background-color 0.05s ease-in-out;

        &:hover {
            div {
                transition: background-color 0.2s ease-in-out;

                background-color: $primary-color-gray;
            }
        }

        div {
            width: 1px;
            height: 100%;

            transform: rotate(45deg);

            background-color: $secondary-color-gray;

            &::after {
                position: absolute;
                top: 0;
                left: 0;

                width: 1px;
                height: 100%;

                content: '';
                transform: rotate(-90deg);

                background-color: inherit;
            }
        }
    }

    &--visible {
        visibility: visible;

        .ModalComponent__modal {
            margin-top: 0;

            opacity: 1;
        }
    }
}
