@import '../../styles/constants';

// Module Constants
$side-pull-width: 20px;
$sidebar-padding: 20px;
$sidebar-width: 270px;

.ElementPropertiesSidebarModule {
    position: fixed;
    z-index: $z-index-sidebar;
    top: $header-height;
    right: -#{$sidebar-width - 5px};

    box-sizing: border-box;
    width: $sidebar-width;
    height: calc(100% - #{$header-height});

    transition: right 0.1 ease-in-out;

    opacity: $ui-opacity;
    background-color: $primary-color-background;

    &--visible {
        right: 0;
    }

    &__side-pull {
        position: absolute;
        top: 65px;
        left: -#{$side-pull-width};

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        box-sizing: border-box;
        width: $side-pull-width;
        height: #{2 * $side-pull-width};
        padding: 13px 0 13px 7px;

        cursor: pointer;

        border-radius: $side-pull-width 0 0 $side-pull-width;
        outline: none;
        background-color: inherit;

        & > span {
            width: 100%;
            height: 2px;

            border-radius: 1px;
            background-color: $primary-color-white;
        }
    }

    &__pseudo-tabs {
        width: 100%;

        &--header {
            display: flex;
            align-items: center;
            flex-direction: row;

            box-sizing: border-box;
            width: 100%;
            height: 25px;
            padding: 0 $sidebar-padding;

            & > div {
                display: flex;
                align-items: center;
                flex-basis: 0;
                flex-grow: 1;
                justify-content: center;

                box-sizing: border-box;
                max-width: 50%;
                height: 100%;
                margin: 0 1px;

                cursor: pointer;

                color: $primary-color-gray;
                border-radius: 3px 3px 0 0;
                background-color: $primary-color-white;
            }
        }

        &--body {
            box-sizing: border-box;
            width: 100%;
            padding: 0 $sidebar-padding;

            border-top: solid 1px $primary-color-white;

            p {
                font-size: 12px;
                font-weight: bold;

                margin-top: 20px;

                text-transform: uppercase;

                color: $primary-color-white;
            }
        }
    }

    .InputComponent,
    .TextAreaComponent {
        margin-top: 10px;
    }
}
