@import '../../styles/constants';

.CodeBadgeComponent {

    padding: 1px 4px;

    font-size: small;
    font-family: $font-mono;

    background-color: $tertiary-color-gray;

    border-radius: $border-radius-small;
}
